configuration {
    modes:               "drun,run,window";
    show-icons:          true;
    icon-theme:          "Papirus-Dark";
    drun-display-format: "{name}";
    display-drun:        " Apps";
    display-run:         " Run";
    display-window:      " Fenster";
    sidebar-mode:        false;
    terminal:            "qterminal";
}
@theme "~/.config/rofi/chroma.rasi"
