# --- Syntaxdateien, System zuerst ---
include /usr/share/nano/*.nanorc
include /usr/share/nano/extra/*.nanorc

# --- eigene Regeln, muessen danach kommen ---
include ~/.nano/i3.nanorc

# --- Oberflaeche im Ember-Schema ---
set titlecolor    #110a0e,#ff8fc4
set statuscolor   #110a0e,#ff8fc4
set errorcolor    #f0edeb,#a83368
set numbercolor   green
set keycolor      brightgreen
set functioncolor #f0edeb
set promptcolor   #f0edeb,#110a0e
set selectedcolor #110a0e,#ff8fc4

# --- Komfort ---
set linenumbers
set tabsize 4
set tabstospaces
set constantshow
set softwrap
extendsyntax asm color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax asm color #ff8fc4 "//.*"
extendsyntax asm color #ff8fc4 start="/\*" end="\*/"
extendsyntax asm color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax asm color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax asm color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax autoconf color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax autoconf color #ff8fc4 "//.*"
extendsyntax autoconf color #ff8fc4 start="/\*" end="\*/"
extendsyntax autoconf color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax autoconf color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax autoconf color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax awk color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax awk color #ff8fc4 "//.*"
extendsyntax awk color #ff8fc4 start="/\*" end="\*/"
extendsyntax awk color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax awk color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax awk color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax changelog color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax changelog color #ff8fc4 "//.*"
extendsyntax changelog color #ff8fc4 start="/\*" end="\*/"
extendsyntax changelog color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax changelog color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax changelog color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax cmake color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax cmake color #ff8fc4 "//.*"
extendsyntax cmake color #ff8fc4 start="/\*" end="\*/"
extendsyntax cmake color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax cmake color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax cmake color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax c color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax c color #ff8fc4 "//.*"
extendsyntax c color #ff8fc4 start="/\*" end="\*/"
extendsyntax c color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax c color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax c color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax css color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax css color #ff8fc4 "//.*"
extendsyntax css color #ff8fc4 start="/\*" end="\*/"
extendsyntax css color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax css color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax css color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax sources.list color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax sources.list color #ff8fc4 "//.*"
extendsyntax sources.list color #ff8fc4 start="/\*" end="\*/"
extendsyntax sources.list color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax sources.list color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax sources.list color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax elisp color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax elisp color #ff8fc4 "//.*"
extendsyntax elisp color #ff8fc4 start="/\*" end="\*/"
extendsyntax elisp color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax elisp color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax elisp color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax email color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax email color #ff8fc4 "//.*"
extendsyntax email color #ff8fc4 start="/\*" end="\*/"
extendsyntax email color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax email color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax email color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax go color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax go color #ff8fc4 "//.*"
extendsyntax go color #ff8fc4 start="/\*" end="\*/"
extendsyntax go color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax go color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax go color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax groff color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax groff color #ff8fc4 "//.*"
extendsyntax groff color #ff8fc4 start="/\*" end="\*/"
extendsyntax groff color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax groff color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax groff color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax guile color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax guile color #ff8fc4 "//.*"
extendsyntax guile color #ff8fc4 start="/\*" end="\*/"
extendsyntax guile color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax guile color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax guile color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax haskell color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax haskell color #ff8fc4 "//.*"
extendsyntax haskell color #ff8fc4 start="/\*" end="\*/"
extendsyntax haskell color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax haskell color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax haskell color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax html color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax html color #ff8fc4 "//.*"
extendsyntax html color #ff8fc4 start="/\*" end="\*/"
extendsyntax html color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax html color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax html color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax java color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax java color #ff8fc4 "//.*"
extendsyntax java color #ff8fc4 start="/\*" end="\*/"
extendsyntax java color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax java color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax java color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax javascript color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax javascript color #ff8fc4 "//.*"
extendsyntax javascript color #ff8fc4 start="/\*" end="\*/"
extendsyntax javascript color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax javascript color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax javascript color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax json color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax json color #ff8fc4 "//.*"
extendsyntax json color #ff8fc4 start="/\*" end="\*/"
extendsyntax json color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax json color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax json color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax lua color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax lua color #ff8fc4 "//.*"
extendsyntax lua color #ff8fc4 start="/\*" end="\*/"
extendsyntax lua color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax lua color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax lua color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax makefile color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax makefile color #ff8fc4 "//.*"
extendsyntax makefile color #ff8fc4 start="/\*" end="\*/"
extendsyntax makefile color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax makefile color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax makefile color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax man color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax man color #ff8fc4 "//.*"
extendsyntax man color #ff8fc4 start="/\*" end="\*/"
extendsyntax man color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax man color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax man color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax markdown color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax markdown color #ff8fc4 "//.*"
extendsyntax markdown color #ff8fc4 start="/\*" end="\*/"
extendsyntax markdown color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax markdown color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax markdown color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax nanohelp color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax nanohelp color #ff8fc4 "//.*"
extendsyntax nanohelp color #ff8fc4 start="/\*" end="\*/"
extendsyntax nanohelp color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax nanohelp color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax nanohelp color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax nanorc color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax nanorc color #ff8fc4 "//.*"
extendsyntax nanorc color #ff8fc4 start="/\*" end="\*/"
extendsyntax nanorc color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax nanorc color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax nanorc color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax nftables color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax nftables color #ff8fc4 "//.*"
extendsyntax nftables color #ff8fc4 start="/\*" end="\*/"
extendsyntax nftables color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax nftables color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax nftables color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax m color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax m color #ff8fc4 "//.*"
extendsyntax m color #ff8fc4 start="/\*" end="\*/"
extendsyntax m color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax m color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax m color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax ocaml color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax ocaml color #ff8fc4 "//.*"
extendsyntax ocaml color #ff8fc4 start="/\*" end="\*/"
extendsyntax ocaml color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax ocaml color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax ocaml color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax patch color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax patch color #ff8fc4 "//.*"
extendsyntax patch color #ff8fc4 start="/\*" end="\*/"
extendsyntax patch color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax patch color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax patch color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax perl color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax perl color #ff8fc4 "//.*"
extendsyntax perl color #ff8fc4 start="/\*" end="\*/"
extendsyntax perl color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax perl color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax perl color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax php color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax php color #ff8fc4 "//.*"
extendsyntax php color #ff8fc4 start="/\*" end="\*/"
extendsyntax php color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax php color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax php color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax po color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax po color #ff8fc4 "//.*"
extendsyntax po color #ff8fc4 start="/\*" end="\*/"
extendsyntax po color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax po color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax po color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax python color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax python color #ff8fc4 "//.*"
extendsyntax python color #ff8fc4 start="/\*" end="\*/"
extendsyntax python color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax python color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax python color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax ruby color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax ruby color #ff8fc4 "//.*"
extendsyntax ruby color #ff8fc4 start="/\*" end="\*/"
extendsyntax ruby color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax ruby color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax ruby color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax rust color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax rust color #ff8fc4 "//.*"
extendsyntax rust color #ff8fc4 start="/\*" end="\*/"
extendsyntax rust color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax rust color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax rust color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax sh color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax sh color #ff8fc4 "//.*"
extendsyntax sh color #ff8fc4 start="/\*" end="\*/"
extendsyntax sh color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax sh color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax sh color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax sql color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax sql color #ff8fc4 "//.*"
extendsyntax sql color #ff8fc4 start="/\*" end="\*/"
extendsyntax sql color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax sql color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax sql color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax tcl color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax tcl color #ff8fc4 "//.*"
extendsyntax tcl color #ff8fc4 start="/\*" end="\*/"
extendsyntax tcl color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax tcl color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax tcl color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax texinfo color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax texinfo color #ff8fc4 "//.*"
extendsyntax texinfo color #ff8fc4 start="/\*" end="\*/"
extendsyntax texinfo color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax texinfo color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax texinfo color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax tex color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax tex color #ff8fc4 "//.*"
extendsyntax tex color #ff8fc4 start="/\*" end="\*/"
extendsyntax tex color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax tex color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax tex color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax xml color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax xml color #ff8fc4 "//.*"
extendsyntax xml color #ff8fc4 start="/\*" end="\*/"
extendsyntax xml color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax xml color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax xml color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax yaml color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax yaml color #ff8fc4 "//.*"
extendsyntax yaml color #ff8fc4 start="/\*" end="\*/"
extendsyntax yaml color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax yaml color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax yaml color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax ada color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax ada color #ff8fc4 "//.*"
extendsyntax ada color #ff8fc4 start="/\*" end="\*/"
extendsyntax ada color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax ada color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax ada color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax fortran color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax fortran color #ff8fc4 "//.*"
extendsyntax fortran color #ff8fc4 start="/\*" end="\*/"
extendsyntax fortran color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax fortran color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax fortran color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax haskell color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax haskell color #ff8fc4 "//.*"
extendsyntax haskell color #ff8fc4 start="/\*" end="\*/"
extendsyntax haskell color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax haskell color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax haskell color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax pov color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax pov color #ff8fc4 "//.*"
extendsyntax pov color #ff8fc4 start="/\*" end="\*/"
extendsyntax pov color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax pov color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax pov color #ff8fc4 "(^|[[:space:]]);.*"
extendsyntax spec color #ff8fc4 "(^|[[:space:]])#.*"
extendsyntax spec color #ff8fc4 "//.*"
extendsyntax spec color #ff8fc4 start="/\*" end="\*/"
extendsyntax spec color #ff8fc4 "(^|[[:space:]])--[[:space:]].*"
extendsyntax spec color #ff8fc4 "(^|[[:space:]])%.*"
extendsyntax spec color #ff8fc4 "(^|[[:space:]]);.*"
