# --- Syntaxdateien, System zuerst ---
include /usr/share/nano/*.nanorc
include /usr/share/nano/extra/*.nanorc

# --- eigene Regeln, muessen danach kommen ---
include ~/.nano/i3.nanorc

# --- Oberflaeche im Chroma-Schema ---
set titlecolor    #111,#eee
set statuscolor   #111,#eee
set errorcolor    #eee,#666
set numbercolor   #aaa
set keycolor      #eee
set functioncolor #eee
set promptcolor   #eee,#111
set selectedcolor #111,#eee

# --- Komfort ---
set linenumbers
set tabsize 4
set tabstospaces
set constantshow
set softwrap
extendsyntax asm color bold,#eee "(^|[[:space:]])#.*"
extendsyntax asm color bold,#eee "//.*"
extendsyntax asm color #aaa start="/\*" end="\*/"
extendsyntax asm color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax asm color #aaa "(^|[[:space:]])%.*"
extendsyntax asm color #aaa "(^|[[:space:]]);.*"
extendsyntax autoconf color bold,#eee "(^|[[:space:]])#.*"
extendsyntax autoconf color bold,#eee "//.*"
extendsyntax autoconf color #aaa start="/\*" end="\*/"
extendsyntax autoconf color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax autoconf color #aaa "(^|[[:space:]])%.*"
extendsyntax autoconf color #aaa "(^|[[:space:]]);.*"
extendsyntax awk color bold,#eee "(^|[[:space:]])#.*"
extendsyntax awk color bold,#eee "//.*"
extendsyntax awk color #aaa start="/\*" end="\*/"
extendsyntax awk color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax awk color #aaa "(^|[[:space:]])%.*"
extendsyntax awk color #aaa "(^|[[:space:]]);.*"
extendsyntax changelog color bold,#eee "(^|[[:space:]])#.*"
extendsyntax changelog color bold,#eee "//.*"
extendsyntax changelog color #aaa start="/\*" end="\*/"
extendsyntax changelog color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax changelog color #aaa "(^|[[:space:]])%.*"
extendsyntax changelog color #aaa "(^|[[:space:]]);.*"
extendsyntax cmake color bold,#eee "(^|[[:space:]])#.*"
extendsyntax cmake color bold,#eee "//.*"
extendsyntax cmake color #aaa start="/\*" end="\*/"
extendsyntax cmake color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax cmake color #aaa "(^|[[:space:]])%.*"
extendsyntax cmake color #aaa "(^|[[:space:]]);.*"
extendsyntax c color bold,#eee "(^|[[:space:]])#.*"
extendsyntax c color bold,#eee "//.*"
extendsyntax c color #aaa start="/\*" end="\*/"
extendsyntax c color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax c color #aaa "(^|[[:space:]])%.*"
extendsyntax c color #aaa "(^|[[:space:]]);.*"
extendsyntax css color bold,#eee "(^|[[:space:]])#.*"
extendsyntax css color bold,#eee "//.*"
extendsyntax css color #aaa start="/\*" end="\*/"
extendsyntax css color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax css color #aaa "(^|[[:space:]])%.*"
extendsyntax css color #aaa "(^|[[:space:]]);.*"
extendsyntax sources.list color bold,#eee "(^|[[:space:]])#.*"
extendsyntax sources.list color bold,#eee "//.*"
extendsyntax sources.list color #aaa start="/\*" end="\*/"
extendsyntax sources.list color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax sources.list color #aaa "(^|[[:space:]])%.*"
extendsyntax sources.list color #aaa "(^|[[:space:]]);.*"
extendsyntax elisp color bold,#eee "(^|[[:space:]])#.*"
extendsyntax elisp color bold,#eee "//.*"
extendsyntax elisp color #aaa start="/\*" end="\*/"
extendsyntax elisp color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax elisp color #aaa "(^|[[:space:]])%.*"
extendsyntax elisp color #aaa "(^|[[:space:]]);.*"
extendsyntax email color bold,#eee "(^|[[:space:]])#.*"
extendsyntax email color bold,#eee "//.*"
extendsyntax email color #aaa start="/\*" end="\*/"
extendsyntax email color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax email color #aaa "(^|[[:space:]])%.*"
extendsyntax email color #aaa "(^|[[:space:]]);.*"
extendsyntax go color bold,#eee "(^|[[:space:]])#.*"
extendsyntax go color bold,#eee "//.*"
extendsyntax go color #aaa start="/\*" end="\*/"
extendsyntax go color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax go color #aaa "(^|[[:space:]])%.*"
extendsyntax go color #aaa "(^|[[:space:]]);.*"
extendsyntax groff color bold,#eee "(^|[[:space:]])#.*"
extendsyntax groff color bold,#eee "//.*"
extendsyntax groff color #aaa start="/\*" end="\*/"
extendsyntax groff color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax groff color #aaa "(^|[[:space:]])%.*"
extendsyntax groff color #aaa "(^|[[:space:]]);.*"
extendsyntax guile color bold,#eee "(^|[[:space:]])#.*"
extendsyntax guile color bold,#eee "//.*"
extendsyntax guile color #aaa start="/\*" end="\*/"
extendsyntax guile color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax guile color #aaa "(^|[[:space:]])%.*"
extendsyntax guile color #aaa "(^|[[:space:]]);.*"
extendsyntax haskell color bold,#eee "(^|[[:space:]])#.*"
extendsyntax haskell color bold,#eee "//.*"
extendsyntax haskell color #aaa start="/\*" end="\*/"
extendsyntax haskell color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax haskell color #aaa "(^|[[:space:]])%.*"
extendsyntax haskell color #aaa "(^|[[:space:]]);.*"
extendsyntax html color bold,#eee "(^|[[:space:]])#.*"
extendsyntax html color bold,#eee "//.*"
extendsyntax html color #aaa start="/\*" end="\*/"
extendsyntax html color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax html color #aaa "(^|[[:space:]])%.*"
extendsyntax html color #aaa "(^|[[:space:]]);.*"
extendsyntax java color bold,#eee "(^|[[:space:]])#.*"
extendsyntax java color bold,#eee "//.*"
extendsyntax java color #aaa start="/\*" end="\*/"
extendsyntax java color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax java color #aaa "(^|[[:space:]])%.*"
extendsyntax java color #aaa "(^|[[:space:]]);.*"
extendsyntax javascript color bold,#eee "(^|[[:space:]])#.*"
extendsyntax javascript color bold,#eee "//.*"
extendsyntax javascript color #aaa start="/\*" end="\*/"
extendsyntax javascript color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax javascript color #aaa "(^|[[:space:]])%.*"
extendsyntax javascript color #aaa "(^|[[:space:]]);.*"
extendsyntax json color bold,#eee "(^|[[:space:]])#.*"
extendsyntax json color bold,#eee "//.*"
extendsyntax json color #aaa start="/\*" end="\*/"
extendsyntax json color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax json color #aaa "(^|[[:space:]])%.*"
extendsyntax json color #aaa "(^|[[:space:]]);.*"
extendsyntax lua color bold,#eee "(^|[[:space:]])#.*"
extendsyntax lua color bold,#eee "//.*"
extendsyntax lua color #aaa start="/\*" end="\*/"
extendsyntax lua color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax lua color #aaa "(^|[[:space:]])%.*"
extendsyntax lua color #aaa "(^|[[:space:]]);.*"
extendsyntax makefile color bold,#eee "(^|[[:space:]])#.*"
extendsyntax makefile color bold,#eee "//.*"
extendsyntax makefile color #aaa start="/\*" end="\*/"
extendsyntax makefile color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax makefile color #aaa "(^|[[:space:]])%.*"
extendsyntax makefile color #aaa "(^|[[:space:]]);.*"
extendsyntax man color bold,#eee "(^|[[:space:]])#.*"
extendsyntax man color bold,#eee "//.*"
extendsyntax man color #aaa start="/\*" end="\*/"
extendsyntax man color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax man color #aaa "(^|[[:space:]])%.*"
extendsyntax man color #aaa "(^|[[:space:]]);.*"
extendsyntax markdown color bold,#eee "(^|[[:space:]])#.*"
extendsyntax markdown color bold,#eee "//.*"
extendsyntax markdown color #aaa start="/\*" end="\*/"
extendsyntax markdown color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax markdown color #aaa "(^|[[:space:]])%.*"
extendsyntax markdown color #aaa "(^|[[:space:]]);.*"
extendsyntax nanohelp color bold,#eee "(^|[[:space:]])#.*"
extendsyntax nanohelp color bold,#eee "//.*"
extendsyntax nanohelp color #aaa start="/\*" end="\*/"
extendsyntax nanohelp color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax nanohelp color #aaa "(^|[[:space:]])%.*"
extendsyntax nanohelp color #aaa "(^|[[:space:]]);.*"
extendsyntax nanorc color bold,#eee "(^|[[:space:]])#.*"
extendsyntax nanorc color bold,#eee "//.*"
extendsyntax nanorc color #aaa start="/\*" end="\*/"
extendsyntax nanorc color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax nanorc color #aaa "(^|[[:space:]])%.*"
extendsyntax nanorc color #aaa "(^|[[:space:]]);.*"
extendsyntax nftables color bold,#eee "(^|[[:space:]])#.*"
extendsyntax nftables color bold,#eee "//.*"
extendsyntax nftables color #aaa start="/\*" end="\*/"
extendsyntax nftables color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax nftables color #aaa "(^|[[:space:]])%.*"
extendsyntax nftables color #aaa "(^|[[:space:]]);.*"
extendsyntax m color bold,#eee "(^|[[:space:]])#.*"
extendsyntax m color bold,#eee "//.*"
extendsyntax m color #aaa start="/\*" end="\*/"
extendsyntax m color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax m color #aaa "(^|[[:space:]])%.*"
extendsyntax m color #aaa "(^|[[:space:]]);.*"
extendsyntax ocaml color bold,#eee "(^|[[:space:]])#.*"
extendsyntax ocaml color bold,#eee "//.*"
extendsyntax ocaml color #aaa start="/\*" end="\*/"
extendsyntax ocaml color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax ocaml color #aaa "(^|[[:space:]])%.*"
extendsyntax ocaml color #aaa "(^|[[:space:]]);.*"
extendsyntax patch color bold,#eee "(^|[[:space:]])#.*"
extendsyntax patch color bold,#eee "//.*"
extendsyntax patch color #aaa start="/\*" end="\*/"
extendsyntax patch color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax patch color #aaa "(^|[[:space:]])%.*"
extendsyntax patch color #aaa "(^|[[:space:]]);.*"
extendsyntax perl color bold,#eee "(^|[[:space:]])#.*"
extendsyntax perl color bold,#eee "//.*"
extendsyntax perl color #aaa start="/\*" end="\*/"
extendsyntax perl color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax perl color #aaa "(^|[[:space:]])%.*"
extendsyntax perl color #aaa "(^|[[:space:]]);.*"
extendsyntax php color bold,#eee "(^|[[:space:]])#.*"
extendsyntax php color bold,#eee "//.*"
extendsyntax php color #aaa start="/\*" end="\*/"
extendsyntax php color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax php color #aaa "(^|[[:space:]])%.*"
extendsyntax php color #aaa "(^|[[:space:]]);.*"
extendsyntax po color bold,#eee "(^|[[:space:]])#.*"
extendsyntax po color bold,#eee "//.*"
extendsyntax po color #aaa start="/\*" end="\*/"
extendsyntax po color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax po color #aaa "(^|[[:space:]])%.*"
extendsyntax po color #aaa "(^|[[:space:]]);.*"
extendsyntax python color bold,#eee "(^|[[:space:]])#.*"
extendsyntax python color bold,#eee "//.*"
extendsyntax python color #aaa start="/\*" end="\*/"
extendsyntax python color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax python color #aaa "(^|[[:space:]])%.*"
extendsyntax python color #aaa "(^|[[:space:]]);.*"
extendsyntax ruby color bold,#eee "(^|[[:space:]])#.*"
extendsyntax ruby color bold,#eee "//.*"
extendsyntax ruby color #aaa start="/\*" end="\*/"
extendsyntax ruby color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax ruby color #aaa "(^|[[:space:]])%.*"
extendsyntax ruby color #aaa "(^|[[:space:]]);.*"
extendsyntax rust color bold,#eee "(^|[[:space:]])#.*"
extendsyntax rust color bold,#eee "//.*"
extendsyntax rust color #aaa start="/\*" end="\*/"
extendsyntax rust color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax rust color #aaa "(^|[[:space:]])%.*"
extendsyntax rust color #aaa "(^|[[:space:]]);.*"
extendsyntax sh color bold,#eee "(^|[[:space:]])#.*"
extendsyntax sh color bold,#eee "//.*"
extendsyntax sh color #aaa start="/\*" end="\*/"
extendsyntax sh color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax sh color #aaa "(^|[[:space:]])%.*"
extendsyntax sh color #aaa "(^|[[:space:]]);.*"
extendsyntax sql color bold,#eee "(^|[[:space:]])#.*"
extendsyntax sql color bold,#eee "//.*"
extendsyntax sql color #aaa start="/\*" end="\*/"
extendsyntax sql color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax sql color #aaa "(^|[[:space:]])%.*"
extendsyntax sql color #aaa "(^|[[:space:]]);.*"
extendsyntax tcl color bold,#eee "(^|[[:space:]])#.*"
extendsyntax tcl color bold,#eee "//.*"
extendsyntax tcl color #aaa start="/\*" end="\*/"
extendsyntax tcl color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax tcl color #aaa "(^|[[:space:]])%.*"
extendsyntax tcl color #aaa "(^|[[:space:]]);.*"
extendsyntax texinfo color bold,#eee "(^|[[:space:]])#.*"
extendsyntax texinfo color bold,#eee "//.*"
extendsyntax texinfo color #aaa start="/\*" end="\*/"
extendsyntax texinfo color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax texinfo color #aaa "(^|[[:space:]])%.*"
extendsyntax texinfo color #aaa "(^|[[:space:]]);.*"
extendsyntax tex color bold,#eee "(^|[[:space:]])#.*"
extendsyntax tex color bold,#eee "//.*"
extendsyntax tex color #aaa start="/\*" end="\*/"
extendsyntax tex color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax tex color #aaa "(^|[[:space:]])%.*"
extendsyntax tex color #aaa "(^|[[:space:]]);.*"
extendsyntax xml color bold,#eee "(^|[[:space:]])#.*"
extendsyntax xml color bold,#eee "//.*"
extendsyntax xml color #aaa start="/\*" end="\*/"
extendsyntax xml color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax xml color #aaa "(^|[[:space:]])%.*"
extendsyntax xml color #aaa "(^|[[:space:]]);.*"
extendsyntax yaml color bold,#eee "(^|[[:space:]])#.*"
extendsyntax yaml color bold,#eee "//.*"
extendsyntax yaml color #aaa start="/\*" end="\*/"
extendsyntax yaml color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax yaml color #aaa "(^|[[:space:]])%.*"
extendsyntax yaml color #aaa "(^|[[:space:]]);.*"
extendsyntax ada color bold,#eee "(^|[[:space:]])#.*"
extendsyntax ada color bold,#eee "//.*"
extendsyntax ada color #aaa start="/\*" end="\*/"
extendsyntax ada color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax ada color #aaa "(^|[[:space:]])%.*"
extendsyntax ada color #aaa "(^|[[:space:]]);.*"
extendsyntax fortran color bold,#eee "(^|[[:space:]])#.*"
extendsyntax fortran color bold,#eee "//.*"
extendsyntax fortran color #aaa start="/\*" end="\*/"
extendsyntax fortran color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax fortran color #aaa "(^|[[:space:]])%.*"
extendsyntax fortran color #aaa "(^|[[:space:]]);.*"
extendsyntax haskell color bold,#eee "(^|[[:space:]])#.*"
extendsyntax haskell color bold,#eee "//.*"
extendsyntax haskell color #aaa start="/\*" end="\*/"
extendsyntax haskell color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax haskell color #aaa "(^|[[:space:]])%.*"
extendsyntax haskell color #aaa "(^|[[:space:]]);.*"
extendsyntax pov color bold,#eee "(^|[[:space:]])#.*"
extendsyntax pov color bold,#eee "//.*"
extendsyntax pov color #aaa start="/\*" end="\*/"
extendsyntax pov color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax pov color #aaa "(^|[[:space:]])%.*"
extendsyntax pov color #aaa "(^|[[:space:]]);.*"
extendsyntax spec color bold,#eee "(^|[[:space:]])#.*"
extendsyntax spec color bold,#eee "//.*"
extendsyntax spec color #aaa start="/\*" end="\*/"
extendsyntax spec color #aaa "(^|[[:space:]])--[[:space:]].*"
extendsyntax spec color #aaa "(^|[[:space:]])%.*"
extendsyntax spec color #aaa "(^|[[:space:]]);.*"
extendsyntax bash color bold,#eee "(^|[[:space:]])#.*"
extendsyntax bash color #aaa "\<(if|fi|else|elif|for|while|do|done|case|esac|then|in|return|export|local|function|source)\>"
extendsyntax bash color #aaa "\$[A-Za-z_][A-Za-z0-9_]*|\$\{[^}]+\}|\$\([^)]+\)"
extendsyntax bash color #aaa "\"[^\"]*\"|'[^']*'"
extendsyntax bash color #aaa "\b[0-9]+\b"
