[Desktop Entry]
Version=1.0
Type=Application
Name=Play/Pause
Comment=
Exec=playerctl -p spotify play-pause
Icon=media-playback-stop
Path=
Terminal=false
StartupNotify=false
