[Desktop Entry]
Version=1.0
Type=Application
Name=Previous
Comment=
Exec=playerctl -p spotify previous
Icon=media-skip-backward
Path=
Terminal=false
StartupNotify=false
